<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>NEW GOAL</title>
</head>
<body>
    <h1 class="jumbotron">this is where you choose filters, and then stretches for sequencing a stretch goal</h1>

    <label for="newGoalName">New Goal Name</label>
    <input id="newGoalName" ng-model="goal.GoalName" />

    <label for="newGoalDescription">Goal Description</label>
    <input id="newGoalDescription" ng-model="goal.GoalDescription" />

    <label for="newGoal">Intensity of Sequence</label>
    <select id="newGoal" type="number" ng-model="goal.Intensity">
        <option value="1">Relaxation</option>
        <option value="2">Refreshing</option>
        <option value="3">Deep Stretching</option>
    </select>
    <button ng-click="AddStretches()">Choose Goal Stretches</button>


<!---------------- STRETCH PICKER -->
<!-- USE VIEW MODELS FOR DYNAMICALLY CREATING DROP DOWNS -->

    <div ng-hide="addStretches">

        <label for="openStretcher">Warm up Stretches</label>
        <select id="openStretcher" type="number" ng-model="stretchgoal.open">
            <option ng-repeat="open in opener" value="{{open.StretchId}}">{{open.StretchName}}</option>

        </select>

        <label for="middleStretcher">Spotlight Stretcher</label>
        <select id="middleStretcher" type="number" ng-model="stretchgoal.mid">
            <option ng-repeat="middle in middler" value="{{middle.StretchId}}">{{middle.StretchName}}</option>
        </select>

        <label for="closeStretcher">Final Stretch</label>
        <select id="closeStretcher" type="number" ng-model="stretchgoal.close">
            <option ng-repeat="close in closer" value="{{close.StretchId}}">{{close.StretchName}}</option>
        </select>

        <button ng-click="stretchOverview()">Let's GO MAMA</button>

    </div>

</body>
</html>