    <div class="jumbotron"><h1>customize a stretch goal</h1></div>
<div class="col-sm-offset-1">
    <label for="newGoalName">New Goal Name</label>
    <input id="newGoalName" ng-model="goal.GoalName" />

    <label for="newGoalDescription">Goal Description</label>
    <input id="newGoalDescription" ng-model="goal.GoalDescription" />

    <label for="newGoal">Intensity of Sequence</label>
    <select id="newGoal" type="number" ng-model="goal.Intensity">
        <option value="1">relax</option>
        <option value="2">refresh</option>
        <option value="3">deepen</option>
    </select>
</div>
<div class="col-sm-8 col-sm-offset-2">
    <span ng-repeat="open in opener">
        <input type="checkbox"
               ng-model="open.StretchSelect" />
         {{open.StretchName}} : {{open.StretchDescription}} <br />
    </span>
</div>
    <button class="btn-lg col-sm-4 col-sm-offset-4" ng-click="CreateGoal()">make it happen</button>